In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df=pd.read_csv("train.csv")

In [3]:
print(df.head(5))
print(df.tail(5))

  PassengerId HomePlanet CryoSleep  Cabin  Destination   Age    VIP  \
0     0001_01     Europa     False  B/0/P  TRAPPIST-1e  39.0  False
1     0002_01      Earth     False  F/0/S  TRAPPIST-1e  24.0  False
2     0003_01     Europa     False  A/0/S  TRAPPIST-1e  58.0   True
3     0003_02     Europa     False  A/0/S  TRAPPIST-1e  33.0  False
4     0004_01      Earth     False  F/1/S  TRAPPIST-1e  16.0  False

   RoomService  FoodCourt  ShoppingMall     Spa  VRDeck               Name  \
0          0.0        0.0           0.0     0.0     0.0    Maham Ofracculy
1        109.0        9.0          25.0   549.0    44.0       Juanna Vines
2         43.0     3576.0           0.0  6715.0    49.0      Altark Susent
3          0.0     1283.0         371.0  3329.0   193.0       Solam Susent
4        303.0       70.0         151.0   565.0     2.0  Willy Santantines

   Transported
0        False
1         True
2        False
3        False
4         True
     PassengerId HomePlanet CryoSleep     Cabin    Destination   Age    VIP  \
8688     9276_01     Europa     False    A/98/P    55 Cancri e  41.0   True
8689     9278_01      Earth      True  G/1499/S  PSO J318.5-22  18.0  False
8690     9279_01      Earth     False  G/1500/S    TRAPPIST-1e  26.0  False
8691     9280_01     Europa     False   E/608/S    55 Cancri e  32.0  False
8692     9280_02     Europa     False   E/608/S    TRAPPIST-1e  44.0  False

      RoomService  FoodCourt  ShoppingMall     Spa  VRDeck               Name  \
8688          0.0     6819.0           0.0  1643.0    74.0  Gravior Noxnuther
8689          0.0        0.0           0.0     0.0     0.0    Kurta Mondalley
8690          0.0        0.0        1872.0     1.0     0.0       Fayey Connon
8691          0.0     1049.0           0.0   353.0  3235.0   Celeon Hontichre
8692        126.0     4688.0           0.0     0.0    12.0   Propsh Hontichre

      Transported
8688        False
8689        False
8690         True
8691        False
8692         True

In [4]:
print(df.describe())

               Age   RoomService     FoodCourt  ShoppingMall           Spa  \
count  8514.000000   8512.000000   8510.000000   8485.000000   8510.000000
mean     28.827930    224.687617    458.077203    173.729169    311.138778
std      14.489021    666.717663   1611.489240    604.696458   1136.705535
min       0.000000      0.000000      0.000000      0.000000      0.000000
25%      19.000000      0.000000      0.000000      0.000000      0.000000
50%      27.000000      0.000000      0.000000      0.000000      0.000000
75%      38.000000     47.000000     76.000000     27.000000     59.000000
max      79.000000  14327.000000  29813.000000  23492.000000  22408.000000

             VRDeck
count   8505.000000
mean     304.854791
std     1145.717189
min        0.000000
25%        0.000000
50%        0.000000
75%       46.000000
max    24133.000000

In [5]:
df.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [6]:
for i in df.select_dtypes(["object","bool"]):
    df.pop(i)
print(df.head(10))

    Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
0  39.0          0.0        0.0           0.0     0.0     0.0
1  24.0        109.0        9.0          25.0   549.0    44.0
2  58.0         43.0     3576.0           0.0  6715.0    49.0
3  33.0          0.0     1283.0         371.0  3329.0   193.0
4  16.0        303.0       70.0         151.0   565.0     2.0
5  44.0          0.0      483.0           0.0   291.0     0.0
6  26.0         42.0     1539.0           3.0     0.0     0.0
7  28.0          0.0        0.0           0.0     0.0     NaN
8  35.0          0.0      785.0          17.0   216.0     0.0
9  14.0          0.0        0.0           0.0     0.0     0.0

In [7]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           8514 non-null   float64
 1   RoomService   8512 non-null   float64
 2   FoodCourt     8510 non-null   float64
 3   ShoppingMall  8485 non-null   float64
 4   Spa           8510 non-null   float64
 5   VRDeck        8505 non-null   float64
dtypes: float64(6)
memory usage: 407.6 KB
None

In [8]:
for i in df.select_dtypes(["float64"]):
    iqr = df[i].quantile(0.75) - df[i].quantile(0.25)
    l_b = df[i].quantile(0.25) - 1.5 * iqr
    u_b = df[i].quantile(0.75) + 1.5 * iqr
    outliers = df[(df[i] < l_b) | (df[i] > u_b)]
    print(outliers)

       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
118   67.0          0.0        0.0           0.0     0.0     0.0
280   67.0          NaN      230.0           0.0  4476.0   241.0
338   79.0       5649.0      235.0           7.0  2579.0  2175.0
378   68.0          0.0        0.0           0.0     0.0     0.0
416   74.0          0.0        0.0           0.0     0.0     0.0
...    ...          ...        ...           ...     ...     ...
7729  72.0        309.0        0.0           0.0     0.0   463.0
8042  67.0          0.0       82.0           0.0  2279.0   293.0
8288  76.0          0.0        0.0           0.0     0.0     0.0
8369  73.0       1806.0        0.0          47.0     0.0     0.0
8516  70.0          0.0     2113.0           0.0  1972.0    51.0

[77 rows x 6 columns]
       Age  RoomService  FoodCourt  ShoppingMall    Spa  VRDeck
4     16.0        303.0       70.0         151.0  565.0     2.0
13    48.0        719.0        1.0          65.0    0.0    24.0
16    27.0       1286.0      122.0           NaN    0.0     0.0
20    14.0        412.0        0.0           1.0    0.0   679.0
27    21.0        980.0        2.0          69.0    0.0     0.0
...    ...          ...        ...           ...    ...     ...
8646  22.0        676.0        0.0          13.0    0.0    12.0
8661  30.0        699.0        0.0         600.0    0.0     0.0
8675  44.0       1030.0     1015.0           0.0   11.0     NaN
8682  26.0        240.0      242.0         510.0    0.0     0.0
8692  44.0        126.0     4688.0           0.0    0.0    12.0

[1861 rows x 6 columns]
       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
2     58.0         43.0     3576.0           0.0  6715.0    49.0
3     33.0          0.0     1283.0         371.0  3329.0   193.0
5     44.0          0.0      483.0           0.0   291.0     0.0
6     26.0         42.0     1539.0           3.0     0.0     0.0
8     35.0          0.0      785.0          17.0   216.0     0.0
...    ...          ...        ...           ...     ...     ...
8686  32.0          1.0     1146.0           0.0    50.0    34.0
8687  30.0          0.0     3208.0           0.0     2.0   330.0
8688  41.0          0.0     6819.0           0.0  1643.0    74.0
8691  32.0          0.0     1049.0           0.0   353.0  3235.0
8692  44.0        126.0     4688.0           0.0     0.0    12.0

[1823 rows x 6 columns]
       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
3     33.0          0.0     1283.0         371.0  3329.0   193.0
4     16.0        303.0       70.0         151.0   565.0     2.0
11    45.0         39.0     7295.0         589.0   110.0   124.0
12    32.0         73.0        0.0        1123.0     0.0   113.0
15    31.0         32.0        0.0         876.0     0.0     0.0
...    ...          ...        ...           ...     ...     ...
8669  26.0          0.0     8160.0         205.0     0.0   438.0
8674  13.0         39.0        0.0        1085.0    24.0     0.0
8682  26.0        240.0      242.0         510.0     0.0     0.0
8683  21.0         86.0        3.0         149.0   208.0   329.0
8690  26.0          0.0        0.0        1872.0     1.0     0.0

[1829 rows x 6 columns]
       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
1     24.0        109.0        9.0          25.0   549.0    44.0
2     58.0         43.0     3576.0           0.0  6715.0    49.0
3     33.0          0.0     1283.0         371.0  3329.0   193.0
4     16.0        303.0       70.0         151.0   565.0     2.0
5     44.0          0.0      483.0           0.0   291.0     0.0
...    ...          ...        ...           ...     ...     ...
8657  49.0          6.0        1.0         638.0  1107.0    23.0
8666  38.0         28.0     1208.0         973.0   207.0     0.0
8683  21.0         86.0        3.0         149.0   208.0   329.0
8688  41.0          0.0     6819.0           0.0  1643.0    74.0
8691  32.0          0.0     1049.0           0.0   353.0  3235.0

[1788 rows x 6 columns]
       Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
3     33.0          0.0     1283.0         371.0  3329.0   193.0
11    45.0         39.0     7295.0         589.0   110.0   124.0
17    24.0          0.0        1.0           0.0     0.0   637.0
20    14.0        412.0        0.0           1.0     0.0   679.0
30    34.0         22.0     6073.0           0.0  1438.0   328.0
...    ...          ...        ...           ...     ...     ...
8667  29.0          0.0     2972.0           NaN    28.0   188.0
8669  26.0          0.0     8160.0         205.0     0.0   438.0
8683  21.0         86.0        3.0         149.0   208.0   329.0
8687  30.0          0.0     3208.0           0.0     2.0   330.0
8691  32.0          0.0     1049.0           0.0   353.0  3235.0

[1809 rows x 6 columns]

In [9]:
for i in df.select_dtypes(["object","bool"]):
    median = df[i].median()
    Q1 = df[i].quantile(0.25)
    Q3 = df[i].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

   
    df[i]= np.where((df[i] < lower_bound) | (df[i] > upper_bound), median, df[i])

In [10]:
df.head(10)

    Age  RoomService  FoodCourt  ShoppingMall     Spa  VRDeck
0  39.0          0.0        0.0           0.0     0.0     0.0
1  24.0        109.0        9.0          25.0   549.0    44.0
2  58.0         43.0     3576.0           0.0  6715.0    49.0
3  33.0          0.0     1283.0         371.0  3329.0   193.0
4  16.0        303.0       70.0         151.0   565.0     2.0
5  44.0          0.0      483.0           0.0   291.0     0.0
6  26.0         42.0     1539.0           3.0     0.0     0.0
7  28.0          0.0        0.0           0.0     0.0     NaN
8  35.0          0.0      785.0          17.0   216.0     0.0
9  14.0          0.0        0.0           0.0     0.0     0.0

In [11]:
df.isnull().sum()

Age             179
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Age           8514 non-null   float64
 1   RoomService   8512 non-null   float64
 2   FoodCourt     8510 non-null   float64
 3   ShoppingMall  8485 non-null   float64
 4   Spa           8510 non-null   float64
 5   VRDeck        8505 non-null   float64
dtypes: float64(6)
memory usage: 407.6 KB